body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #1E1E1E;
    padding: 30px 40px;
    border-radius: 20px;
}

h1 {
    color: #7AB2B2;
}

p {
    font-size: 18px;
    color: #CCCCCC;
}
